{% block body -%}
    <div class="panel-success">
        <div class="panel-heading">{{ 'import.issues'|trans }}</div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
